<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Hive" subTitle="Please add a Hive"}}
  {{> main-menu }}
</div>

<div class="uk-container uk-margin">
  {{> map1}}
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-auto@m">
      <img width="400" src="images/hive.jpg" />
    </div>
    <div class="uk-width-expand@m">{{> addHive}}</div>
  </div>
</div>